// Custom font variables
/* #ns fonts
│ Metropolis-Boldotf            │ font-family: "Metropolis", "Metropolis-Bold"; font-weight: 700;            │
│ Metropolis-BoldItalic.otf     │ font-family: "Metropolis", "Metropolis-BoldItalic"; font-weight: 700;      │
│ Metropolis-Regular.otf        │ font-family: "Metropolis", "Metropolis-Regular"; font-weight: 400;         │
│ Metropolis-RegularItalic.otf  │ font-family: "Metropolis", "Metropolis-RegularItalic"; font-weight: 400;   |
| Metropolis-SemiBold.otf       │ font-family: "Metropolis", "Metropolis-SemiBold"; font-weight: 600;        │
│ Metropolis-SemiBoldItalic.otf │ font-family: "Metropolis", "Metropolis-SemiBoldItalic"; font-weight: 700;  │
*/

/*
 * App fonts
 */
$font-family: "Metropolis", "Metropolis-Regular" !default;
$font-family-bold: "Metropolis", "Metropolis-Bold";
$font-family-italic: "Metropolis", "Metropolis-RegularItalic";
$font-family-semibold: "Metropolis", "Metropolis-SemiBold";
 
$font-weight: 400 !default;
$font-weight-bold: 700;
$font-weight-semibold: 600;

/* Font sizes */
$font-size: 16 !default;

$font-size-paragraph: 16;
$font-size-paragraph-letter-spacing: 0.05;

$font-size-heading: 20 !default;
$font-size-heading-letter-spacing: 0.05;

$font-size-page-title: 18;
$font-size-page-title-letter-spacing: 0.4;
$font-size-page-title-text-transform: uppercase;

$font-size-button: 16;
$font-size-button-text-transform: uppercase;

$font-size-listbutton: 16;

$font-size-form-input: 18;

$font-size-small: 11;


/* line-heights */
$line-height: 6 !default;
$line-height-title-blurb: 10;

/*
 * App colors
 */
$color-background: #2f3236;

$color-primary: #ffffff;
$color-primary-muted: #6E5D6E;

$color-button-primary: #2f3236;
$color-button-primary-active: #000000;
$color-button-primary-background: #85BCCB;
$color-button-primary-background-active: #5F7E87;
$color-button-primary-border: #85BCCB;
$color-button-primary-border-active: #5F7E87;

$color-button-inverted: #ffffff;
$color-button-inverted-active: #ffffff;
$color-button-inverted-background: #2f3236;
$color-button-inverted-background-active: #767676;
$color-button-inverted-border: #ffffff;
$color-button-inverted-border-active: #767676;

// Grid boxes
$color-gridbox-background: #ffffff;
$color-gridbox-text: #2F3236;
$color-gridbox-notify-background: #E8E0E0;

// List buttons
$color-listbutton-background: #FFFFFF;
$color-listbutton: #2f3236;

// Forms
$color-form-input-background: #F7F1F1;
$color-form-input: #2F3236;
$color-form-error: #e85d54;

// Sliders
$color-slider: #ffffff;
$color-slider-background: #85BCCB; 

/*
 * Buttons
 */
$button-elevation: 4;
$button-elevation-active: 8;
$button-radius: 5;
$button-border-width: 1;

$button-width: 40%;
